/**{
	margin: 0;
	padding: 0;
	
	  box-sizing: border-box;



}*/

/*navigation bar */

body{
	
	margin: 0;
	padding: 0;
	
	  box-sizing: border-box;

	font-family: 'Open Sans', serif;
}

nav{
	position: sticky;
	top: 0px;
	display: inline-block;

	width: 100vw;
	border: 1px solid white;
	background-color: white;
	padding-top: 5px;
	padding-right: 40px;

	

	  box-shadow: 0px 2px #dddcdb;


}

.nav-logo{
	float: left;
	/*margin: 10px 15px 10px 50px;*/
padding: 0px 0px 0px 10px;
margin: 0px 0px 0px 50px;
}





.right-nav{
	
	
	float: right;

margin-right: 100px;


}

.nav{
	margin: 0px 15px 0px 10px;
	/*margin: 10px 15px 10px 10px;*/
	display: inline-block;
	padding: 0px 0px 0px 10px;
}
ul{
	list-style: none;
	text-decoration: none;
}

.tuitt-button{
	background-color: #c2195b;
	height: 35px;
	width: 110px;
	border-radius: 35px;
	color: white;
	border: 1px solid #c2195b;
	
	padding: 0;
}

/*end of nav*/

/*landing page*/

#bg-image{
background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
width: 100vw;
background-size: 100%;
height: 43vh;
background-position: center;
background-repeat: no-repeat;



}

.font-bg{
	/*display: block;*/
	padding: 10px 0px 10px 20px;




}

.container{
	color: white;
	text-align: right;
	margin-right: 100px;

	display: flex;

	flex-direction: column;

	float: right;
	

	


	


	

}

.title{
	font-size: 45px;
	/*text-indent:750px ;*/
	font-family: 'Zilla Slab', serif;
/*max-width: 30ch;*/
float: right;
width: 600px;
height: 100px;
margin-bottom: 2px;

}

.subtitle{
float: right;
	font-size: 18px;
	
	 /*max-width: 40ch;*/
	 width: 350px;
	 margin-left:260px;
	 height: 150px;
	

}


.apply-button{
	
	background-color: #c2195b;
	height: 45px;
	width: 170px;
	border-radius: 35px;
	color: white;
	border: 1px solid #c2195b;
	font-weight: 10px;
	font-size: 16px;

	margin-left: 440px;



}

/*end of landing page*/

/*intro section*/
.intro{
	height: 45vh;
	text-align: center;
	margin-top: 100px;

	



}
.intro-description{
text-align: left;
margin: 100px 350px 200px 350px;
}

/*end of intro sec*/

/*pre-footer*/
.pre-footer{
	height: 40vh ;
	text-align: center;

	background-color: #EDF6EF;
	border: 1px solid #EDF6EF;
	width: 85vw;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px 125px 10px 125px;


}

.title-2{

	font-family: 'Zilla Slab', serif;
	font-size: 35px;
	margin-bottom: 3px;

}
.prefooter-description{

margin: 50px 200px 15px 200px;
width: 850px;


}
.book-button{
	background-color: #336589;
	height: 35px;
	width: 150px;
	border-radius: 35px;
	color: white;
	border: 1px solid #336589;
	
	padding: 0;

}

footer{
	text-align: center;
}

